table {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

#search { display: inline-block; }
#icon { font-size: 18px; display:inline-block; }
